<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    </configSections>
    <modules>
        <module assemblyFile="timely.dashboard.dll" moduleType="timely.dashboard.DashboardModule, timely.dashboard, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Dashboard" startupLoaded="true" />
        <module assemblyFile="timely.reports.dll" moduleType="timely.reports.ReportsModule, timely.reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Reports" startupLoaded="true" />
        <module assemblyFile="timely.timesheets.dll" moduleType="timely.timesheets.TimesheetsModule, timely.timesheets, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Timesheets" startupLoaded="true" />
    </modules>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>